*{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: black;
}
.section-1{
    height: 89vh;
    background-image: url(car-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}
.section-1 .section-1-nav{
    display: flex;
}
.section-1 .section-1-nav .nav-1{
    width: 50%;

    display: flex;
    gap: 10px;
    margin-left: 280px;
    font-size: 45px;
    margin-top: 30px;
}
.section-1 .section-1-nav .nav-1 img{
    width: 30px;

}
.section-1 .section-1-nav .nav-1 p{
     font-size: 40px;
}

.section-1 .section-1-nav .nav-2 {
    width: 70%;
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-right: 150px;
}

.section-1 .section-1-nav .nav-2 ul{
    margin-top: 20px;
    
    display: flex;
    list-style: none;
    gap:30px;
}

.section-1 .section-1-nav .nav-2 button{
    background-color: #00c2ff;
    color: white;
    padding: 15px 25px;
    font-size: 15px;
    margin-top: 5px;
    
}
.section-1 .section-1-banner{
    width: 50%;
    margin-top: 200px;
    margin-left: 250px;
}
.section-1 .section-1-banner h1 {
    font-size:70px;
    color: #00c2ff;

}
.section-1 .section-1-banner p {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.section-1 .section-1-banner #ap{
    background-color: #00c2ff;
    width: 250px;
    height: 30px;
    padding: 20px;
}

/*-----------------------------------------footer---------------------------------*/
.footer{
}
.footer .footer-containers{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    gap: 60px;


}
.footer .footer-containers strong{
    color: #00c2ff;
    
}


